* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Arial, sans-serif;
    font-size: 14px;
    cursor: default;
    -webkit-user-select: none;
}

input:focus, button:focus {
    /* Make it look more native */
    outline: 1px dotted #000;
}

input[type=text], input[type=password] {
    padding: 3px 8px;
    border-radius: 5px;
}

label {
    padding-bottom: 5px;
    width: 800px; /* every window is 800px wide */
    display: block;
}

label>span {
    display: inline-block;
    width: 250px;
    text-align: right;
    padding-right: 5px;
    font-weight: bold;
}

label input[type=text], label input[type=password] {
    width: 545px;
    height: 35px;
}

form button[type=submit] {
    font-size: 14px;
    padding: 10px 40px;
    margin: 5px auto;
    display: block;
}

.hidden {
    display: none;
}

.uppercase {
    text-transform: uppercase;
}
